{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">


	<div class='flex-1 mx-auto p-8 bg-gray-800 text-white'>
            <h1>Flash cards</h1>
        <br>
<p>this project was created to give users the ability share flash cards with each other or save them privately </p>
	</div>

    <footer class="w-full text-center  p-4 pin-b bg-black">
        <p class="font-bold font-sans text-white">Made by <a href="https://github.com/mage1711" class=" hover:text-blue-300">ziad abdelrahman</a></p>
    </footer>